{% extends 'navbar.html' %}

{% block title %}
Inicio
{% endblock title %}

{% block content %}

<div id="descripcion" class="container" xmlns="http://www.w3.org/1999/html">
    <h1>Feedback de tu clase</h1>

    <form action="{% url 'exitofeedback' %}" autocomplete="off" method="post">
            {% csrf_token %}

    <div class="form-group">
      <label for="exampleInputTexto">Nombre</label>
      <input type="text" class="form-control" id="exampleText" placeholder="Ingrese nombre del usuario" name="inputText">
    </div>


    <div class="form-group">
      <label for="materia">Materia </label>
      <input rows="5" class="form-control" id="exampleText" placeholder="¿De que materia fue la clase?" name="materia">
    </div>

        <div class="form-group">
      <label for="grade">Evaluación*</label>
      <select class="form-control" id="grade" name="grade">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
                  <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
                  <option value="7">7</option>

      </select>
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción</label>
        <textarea rows="5"type="text" class="form-control"id="exampleText" placeholder="¿Que recomendaciones le darias para clases futuras?" name="descripcion"> </textarea>
    </div>

    <br>


    <div class="form-group">
    <button type="submit" class="btn btn-primary">Listo</button>
    </div>
  
  </form>
       
</div>





{% endblock content %}
