{% extends 'navbar.html' %}

{% block title %}
Inicio
{% endblock title %}

{% block content %}

<div id="descripcion" class="container">
    <h1>Feedback de tu clase</h1>

    <form action="#" autocomplete="off">

    <div class="form-group">
      <label for="exampleInputTexto">Nombre</label>
      <input type="text" class="form-control" id="exampleText" placeholder="Ingrese nombre Alumno" name="inputText">
    </div>


    <div class="form-group">
      <label for="exampleInputTexto">Descripcion </label>
      <input type="text" class="form-control" id="exampleText" placeholder="¿De que materia fue la clase?" name="inputText">
    </div>

    <div class="form-group">
      <label for="exampleInputTexto">Descriocion</label>
      <input type="text" class="form-control" id="exampleText" placeholder="¿Que recomendaciones le darias para clases futuras?" name="inputText">
    </div>

    <br>


    <div class="form-group">
    <button type="submit" class="btn btn-primary">Listo</button>
    </div>
  
  </form>
       
</div>





{% endblock content %}
